body{
  text-align: center;
  font-family: helvetica;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}
.home{
  background-image: url('../images/the-flatiron-building.png');
}

p a{
  font-size: 18px;
  color: white;

}

p{
  font-size: 14px;
}

.break{
  color: white;
  background-image: url('../images/the-flatiron-building.png');
}

.linkbar{
  font-size: 36px;
  background-color: dimgray;
  text-align: left;
  color: white;
}
